

.root {
  height: 0px;
  opacity: 0;
  transition: all 0.2s ease;
}

.rootShow {
  height: auto;
  opacity: 1;
  transition: all 0.2s ease;
}
.buttonShowContainer {
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  z-index: 1;
}

