.label {
  width: 100%;
  position: relative;
}

.input {
  width: 100%;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 18px;
  padding-right: 70px;
  border: 1px solid rgba(255, 255, 255, 0);
  &::placeholder {
    opacity: 0.4;
  }
}

.eyeContainer {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.error {
  border: 1px solid rgba(255, 0, 0, 0.463);
}
